@font-face {
  font-family: "e-Ukraine";
  src: url("assets/font/e-Ukraine-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("assets/font/e-Ukraine-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("assets/font/e-Ukraine-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("assets/font/e-Ukraine-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("assets/font/e-Ukraine-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("assets/font/e-Ukraine-UltraLight.otf");
  font-weight: 100;
}

/* Default styles (mobile-first, extra small devices) */
/* Add your default styles here */

body {
  display: flex;
  flex-direction: column;
  font-family: "e-Ukraine";
  background-color: #04a777;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

body .background-text {
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 16vw;
  margin: 0;
  padding: 0;
}

.ukraine-now {
  position: fixed;
  top: 10px;
  left: 10%;
  width: 250px;
}

.fixed-button {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  background-color: #04a777;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid white;
}

.fixed-button:hover {
  background-color: white;
  color: #04a777;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Your styles for small devices here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Your styles for medium devices here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Your styles for large devices here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your styles for extra large devices here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles for extra extra large devices here */
}
